/* background to Why SBUHacks */

.page3 {
  background: url("../assets/Page3.svg") no-repeat;
  background-size: contain;
  background-position:center;
  overflow-x: hidden;
  width:100%
}

/* Special Padding for About */

#about{
  padding: 4rem 10rem 10rem 10rem;
  background-color: #FAFBFB;
}

/* Drifting Objects */
#clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#clouds .cloud {
  position: absolute;
  z-index: 0;
  -webkit-animation: cloudDrift linear infinite;
  animation: cloudDrift linear infinite;
}

#clouds .long-duration {
  -webkit-animation-duration: 60s;
  animation-duration: 60s;
}

#clouds .medium-duration {
  -webkit-animation-duration: 45s;
  animation-duration: 45s;
}

#clouds .short-duration {
  -webkit-animation-duration: 35s;
  animation-duration: 35s;
}

#clouds .lrg {
  height: 9%;
  top: 25%;
  left: -5%;
}

@media (max-width: 575.98px) {
  #clouds .lrg {
    height: 15%;
  }
}

#clouds .sml {
  height: 8%;
  top: 45%;
  left: 10%;
}

@media (max-width: 575.98px) {
  #clouds .sml {
    height: 5%;
  }
}

#clouds .med {
  height: 3%;
  top: 10%;
  left: 2%;
}

@media (max-width: 575.98px) {
  #clouds .med {
    height: 10%;
  }
}

@-webkit-keyframes cloudDrift {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    left: 90%;
  }
}

@keyframes cloudDrift {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    left: 90%;
  }
}
