.flicker{
width: 300px;
}

#tail4{
  animation: tail4 0.3s infinite alternate;
}

#tail3{
  animation: tail3 0.3s infinite alternate;
}
#tail2{
  animation: tail2 0.3s infinite alternate;
}

#tail1{
  animation: tail1 0.3s infinite alternate;
}

@keyframes tail4{
  10%{ opacity: 1.0;}
  
}

@keyframes tail3{
  40%{fill: #A5F2F3;}
}
@keyframes tail2{
  75%{
    opacity: 0.3;
  }
}
@keyframes tail1{
  60%{
    opacity: 0.3;
  }
}

