html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #212121
}

@media (max-width: 575.98px) {
  html {
    font-size: 55%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 58%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 60%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 62.5%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}
}

body {
  margin-top: 80px;
  font-size: 1.8rem;
  font-family: "Open Sans";
  color: #fafbfb;
  line-height: 1.5;
}

@media (max-width: 991.98px) {
  body {
    margin-top: 65px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Exo', Aleo, Times, serif;
  color: #;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5;
}

.centered {
  margin: 0 auto;
}

#nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0 1px 5px rgba(117, 84, 84, 0.4);
  box-shadow: 0 1px 5px rgba(117, 84, 84, 0.4);
  background-color: white;
  height: 80px;
  z-index: 100;
}

@media (max-width: 991.98px) {
  #nav {
    min-height: 65px;
    height: auto;
  }
}

#nav .navbar {
  font-size: 1.5rem;
  height: 100%;
  width: 80%;
  min-width: 900px;
}

@media (max-width: 991.98px) {
  #nav .navbar {
    padding-top: 1.5rem;
    min-width: 766.98px;
  }
}

@media (max-width: 767.98px) {
  #nav .navbar {
    min-width: initial;
    width: 100%;
  }
}

#nav .nav-link {
  color: #474b4e;
  margin: 0 1.5rem;
  font-family: 'Exo';
}

@media (max-width: 767.98px) {
  #nav .nav-link {
    text-align: center;
  }
}

#nav .nav-link:hover, #nav .nav-link.sign-up-link:hover {
  color: #ffad77;
  -webkit-filter: none;
  filter: none;
}

#nav .nav-link.sign-up-link {
  text-transform: uppercase;
  color: #fa7041;
}

#nav .nav-link.sign-alt {
  text-transform: uppercase;
  color: #C79970;
  display: none;
}

#nav .nav-link.sign-alt:hover {
  color: #ddc0a7;
}

@media (max-width: 767.98px) {
  #nav .nav-link.sign-alt {
    display: inline;
  }
}

#nav .navbar-brand {
  color: #fa7041;
  font-family: 'Exo';
  line-height: 1;
  font-weight: bold;
  font-size: 3rem;
}

#nav .navbar-brand:hover {
  -webkit-filter: none;
  filter: none;
}

#nav .navbar-brand img {
  width: 2.5rem;
  vertical-align: baseline;
  margin-right: 1rem;
  margin-left: -3rem;
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#nav .navbar-toggler .navbar-toggler-icon {
  color: #fa7041;
  font-size: 2rem;
  line-height: 3rem;
}

#nav .navbar-nav {
  width: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

#nav #mlh-trust-badge {
  display: block;
  max-width: 9rem;
  min-width: 6rem;
  position: absolute;
  top: 0;
  left: 100%;
  width: 10%;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
  z-index: 100;
  transition: opacity 300ms ease-in-out;
}

@media (max-width: 1100px) {
  #nav #mlh-trust-badge {
    display: none;
  }
}

#nav.below-hero #mlh-trust-badge {
  opacity: 0;
}

#nav.below-hero .navbar-brand img {
  opacity: 1;
  margin-left: 0;
}

.description {
  color: rgba(255, 255, 255, 0.7)
}

.why-description {
  font-size: 15px;
  margin-top: 5px;
  line-height: 20px;
}

article.hero div.content h1 {
  color: #40c4ff;
  font-weight: bold;
}

article.hero div.content h2 {
  color: #007ed5;
}

.logo.pt-4.pb-5 {
  margin-top: -8rem;
  margin-bottom: -8rem;
  width: 25rem;
}

article.hero {
  background: url("../assets/Page1.svg") no-repeat;
  background-position: right;
  background-size: cover;
  overflow: hidden;
  background-color: #2f2f2f;
  height: 1190px;
  width: 100%;
}

article.hero .sign-container {
  position: absolute;
  z-index: 2;
  bottom: 8%;
  right: 2%;
}

@media (max-width: 767.98px) {
  article.hero .sign-container {
    display: none;
  }
}

article.hero .sign-container .signs {
  height: 30em;
  margin-left: 40%;
  margin-bottom: 20%;
}

article.hero .sign-container .sign-link {
  font-family: 'Exo', Aleo, Times, serif;
  position: absolute;
  display: block;
  left: 60%;
  padding: 1.3rem 2.4rem;
  color: white !important;
}

article.hero .sign-container .hack {
  top: 5%;
  left: 43%;
  padding: 3.3rem;
  font-size: 1.5rem;
  /*-webkit-transform: translateX(-50%) rotate(15deg);
      transform: translateX(-50%) rotate(15deg);*/
}

article.hero .sign-container .mentor {
  font-size: 1.5rem;
  top: 20%;
  left: 71%;
  padding: 4.6rem;
}

article.hero .sign-container .volunteer {
  font-size: 1.5rem;
  left: 35%;
  top: 48%;
  padding: 5rem;
}

a {
  color: #FF6F3F;
}

a:hover {
  text-decoration: none;
  color: #FF6F3F;
  opacity: 1;
  -webkit-filter: brightness(140%);
  filter: brightness(140%);
}

img.icon {
  width: 4rem;
  image-rendering: initial;
}

a.bp-btn {
  color: white;
  font-size: 1.6rem;
  padding: 1.2rem 1.8rem;
  font-family: 'Exo';
  font-weight: bold;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
  text-transform: uppercase;
  background-color: purple;
  text-decoration: none;
  border-radius: 2px;
  border-bottom: 3px solid #4d004d;
}

a.bp-btn.orange {
  background-color: #FF6F3F;
  border-bottom: 3px solid #ff490c;
}

a.bp-btn.blue {
  background-color: #528CA5;
  border-bottom: 3px solid #416f83;
}

a.bp-btn.brown {
  background-color: #7F6C5F;
  border-bottom: 3px solid #625349;
}

a.bp-btn.lg {
  padding: 1.2rem 3.6rem;
}

a.bp-btn:hover {
  opacity: 1;
  -webkit-filter: brightness(140%);
  filter: brightness(140%);
}

a.bp-btn:active, a.bp-btn:focus {
  opacity: 1;
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
}

div.opaque-card, article.schedule div.event {
  background-color: rgba(239, 239, 239, 0.9);
  border-radius: 1.75rem;
  margin: 2rem 3rem;
  padding: 2rem 3.25rem;
  color: black;
}

article.mobile-top {
  background-color: #1A2E33;
  color: white;
  position: relative;
  z-index: 999;
  height: 16rem;
  -webkit-transition: ease height .3s;
  transition: ease height .3s;
}

article.mobile-top .links {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

article.mobile-top a {
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
  text-align: center;
  display: block;
  opacity: 1;
  width: 100%;
}

article.mobile-top.hidden {
  height: 0;
  z-index: -10;
}

article.mobile-top.hidden a {
  opacity: 0;
}

article.page-body {
  position: relative;
}

article.hero {
  position: relative;
  height: calc(100vh - 0px);
}

@media (max-width: 991.98px) {
  article.hero {
    height: calc(100vh - 65px);
  }
}

article.hero #registration {
  -webkit-transform: translateY(2.5rem);
  transform: translateY(2.5rem);
}

@media (max-height: 650px) {
  article.hero #registration {
    -webkit-transform: translateY(1.5rem);
    transform: translateY(1.5rem);
  }
}

article.hero .fire-container, article.hero .logs-container {
  display: inline-block;
  /* needed for scaling */
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

article.hero .fire-container {
  bottom: 10.5vh;
  left: 50%;
}

article.hero .fire-container img.fire {
  height: 24vh;
  -webkit-transform: translateX(-0.3rem);
  transform: translateX(-0.3rem);
}

article.hero .logs-container {
  bottom: 5vh;
  left: 50%;
}

article.hero .logs-container img.logs {
  height: 7vh;
}

article.hero .content {
  vertical-align: middle;
  position: relative;
  text-align: center;
  z-index: 1;
  margin-top: 150px;
}

@media (max-width: 991.98px) {
  article.hero .content {
    top: -10%;
  }
}

@media (max-width: 575.98px) {
  article.hero .content {
    top: 3rem;
  }
}

article.hero .content h1 {
  color: #fa7041;
  font-size: 11.75rem;
  margin-top: calc(15vh - 80px);
}

@media (max-width: 767.98px) {
  article.hero .content h1 {
    font-size: 10rem;
    margin-top: calc(10vh - 80px);
  }
}

@media (max-width: 575.98px) {
  article.hero .content h1 {
    margin-top: calc(10vh - 80px);
    font-size: 7rem;
  }
}

@media (max-height: 667px) {
  article.hero .content h1 {
    margin-top: calc(15vh - 80px);
    font-size: 7rem;
  }
}

@media (max-height: 590px) {
  article.hero .content h1 {
    margin-top: calc(15vh - 80px);
  }
}

article.hero .content h2 {
  color: #FFAF3F;
  font-size: 3.75rem;
  margin-top: -2rem;
}

@media (max-width: 767.98px) {
  article.hero .content h2 {
    font-size: 3.5rem;
  }
}

@media (max-width: 575.98px) {
  article.hero .content h2 {
    font-size: 2.7rem;
  }
}

@media (max-height: 667px) {
  article.hero .content h2 {
    font-size: 2.7rem;
  }
}

article.hero .content p {
  color: #3672A3;
  font-size: 2rem;
  margin: 0.5rem auto 0;
}

.page-section, article.intro, article.tracks, article.schedule, article.faq, article.sponsors, article.footer {
  position: relative;
  padding: 10rem 0rem;
  background-color: white;
}

@media (max-width: 767.98px) {
  .page-section, article.intro, article.tracks, article.schedule, article.faq, article.sponsors, article.footer {
    padding: 8rem 0 10rem;
  }
}

.page-section h2, article.intro h2, article.tracks h2, article.schedule h2, article.faq h2, article.sponsors h2 {
  margin-bottom: 2rem;
  text-align: left;
  font-size: 3.5rem;
  color: #FF6F3F;
}

.page-section h3, article.intro h3, article.tracks h3, article.schedule h3, article.faq h3, article.sponsors h3, article.footer h3 {
  font-weight: normal;
  opacity: .9;
}

.page-section h4, article.intro h4, article.tracks h4, article.schedule h4, article.faq h4, article.sponsors h4, article.footer h4 {
  font-size: 2.5rem;
  color: black;
}

.page-section h5, article.intro h5, article.tracks h5, article.schedule h5, article.faq h5, article.sponsors h5, article.footer h5 {
  font-size: 1.8rem;
  color: #FFAF3F;
}

.page-section p, article.intro p, article.tracks p, article.schedule p, article.faq p, article.sponsors p, article.footer p {
  text-align: left;
  white-space: normal;
}

.page-section .section-title, article.intro .section-title, article.tracks .section-title, article.schedule .section-title, article.faq .section-title, article.sponsors .section-title, article.footer .section-title {
  position: relative;
  padding-bottom: 2rem;
  margin-bottom: 0;
}

.page-section .section-title:after, article.intro .section-title:after, article.tracks .section-title:after, article.schedule .section-title:after, article.faq .section-title:after, article.sponsors .section-title:after, article.footer .section-title:after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 14rem;
  height: 4px;
  background: #C79970;
}

@media (max-width: 767.98px) {
  .page-section .section-title, article.intro .section-title, article.tracks .section-title, article.schedule .section-title, article.faq .section-title, article.sponsors .section-title, article.footer .section-title {
    text-align: center;
  }

  .page-section .section-title:after, article.intro .section-title:after, article.tracks .section-title:after, article.schedule .section-title:after, article.faq .section-title:after, article.sponsors .section-title:after, article.footer .section-title:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.page-section .section-title.on-dark-bg, article.intro .section-title.on-dark-bg, article.tracks .section-title.on-dark-bg, article.schedule .section-title.on-dark-bg, article.faq .section-title.on-dark-bg, article.sponsors .section-title.on-dark-bg, article.footer .section-title.on-dark-bg {
  color: white;
}

.page-section .section-title.on-dark-bg:after, article.intro .section-title.on-dark-bg:after, article.tracks .section-title.on-dark-bg:after, article.schedule .section-title.on-dark-bg:after, article.faq .section-title.on-dark-bg:after, article.sponsors .section-title.on-dark-bg:after, article.footer .section-title.on-dark-bg:after {
  background-color: white;
}

.page-section .section-title.always-centered, article.intro .section-title.always-centered, article.tracks .section-title.always-centered, article.schedule .section-title.always-centered, article.faq .section-title.always-centered, article.sponsors .section-title.always-centered, article.footer .section-title.always-centered {
  text-align: center;
}

.page-section .section-title.always-centered:after, article.intro .section-title.always-centered:after, article.tracks .section-title.always-centered:after, article.schedule .section-title.always-centered:after, article.faq .section-title.always-centered:after, article.sponsors .section-title.always-centered:after, article.footer .section-title.always-centered:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.page-section .btn-container, article.intro .btn-container, article.tracks .btn-container, article.schedule .btn-container, article.faq .btn-container, article.sponsors .btn-container, article.footer .btn-container {
  margin-top: 4rem;
}

.page-section.white, article.white.intro, article.white.tracks, article.white.schedule, article.white.faq, article.white.sponsors, article.white.footer {
  background-color: #FFFFFF;
  color: black;
}

article.img-bg-section {
  background-color: transparent !important;
  color: white;
  padding: 20rem 0rem;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

article.img-bg-section .img-bg {
  position: absolute;
  top: 10;
  left 10;
  height: 100%;
  width: 82.2%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -3;
}

article.img-bg-section .img-bg>div,
article.img-bg-section .img-bg>img {
  position: absolute;
  display: block;
  z-index: -2;
}

article.img-bg-section .container {
  background-color: transparent;
  z-index: 1;
}

article.intro {
  text-align: center;
  background: url("../assets/Page2.svg") no-repeat;
  background-position: bottom;
  background-size: contain;
  overflow-x: hidden;
}

article.intro p {
  text-align: left;
  margin: 3rem auto;
  font-size: 2.1rem;
}

@media (max-width: 767.98px) {
  article.intro p {
    font-size: 1.8rem;
  }
}

article.intro .vid-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

article.intro .vid-container iframe {
  position: absolute;
  top: 0;
  left: 10.3%;
  width: 80%;
  height: 80%;
}

.youtube img{
  position: absolute;
  top: 0;
  left: 10.3%;
  width: 80%;
  height: 80%;
}

article.tracks .section-title {
  margin-bottom: 5rem;
}

@media (max-width: 767.98px) {
  article.tracks .col-content {
    text-align: center;
  }
}

article.tracks .col-content .icon {
  margin-bottom: 0.5rem;
}

article.tracks h3 {
  font-size: 3.5rem;
  color: #FF6F3F;
  margin-bottom: 0.5rem;
}

@media (max-width: 767.98px) {
  article.tracks h3 {
    text-align: center;
  }
}

article.tracks.img-bg-section h3 {
  color: white;
}

article.tracks.img-bg-section.design h3 {
  color: #FF6F3F;
}

article.tracks#compass-challenge .container img.icon {
  width: 7rem;
}

article.tracks#compass-challenge .container h2 {
  margin-bottom: 3rem;
}

@media (max-width: 767.98px) {
  article.tracks#compass-challenge .container h2 {
    margin-bottom: 4rem;
  }
}

@media (max-width: 767.98px) {
  article.tracks#events .top.row {
    margin-bottom: initial;
  }
}

@media (max-width: 767.98px) {
  article.tracks#events .col-content {
    margin-bottom: 5rem;
  }
}

article.tracks .external-link {
  display: block;
  margin: 2rem 0;
}

article.tracks img {
  width: 10rem;
}

article.tracks .event-links {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 991.98px) {
  article.tracks .event-links {
    flex-direction: column;
  }
}

@media (max-width: 991.98px) {
  article.tracks .event-links {
    align-items: flex-start;
  }
}

article.tracks .event-links a {
  margin-right: 2rem;
  margin-bottom: 1rem;
}

@media (max-width: 1199.98px) {
  article.tracks .event-links a {
    font-size: 1.6rem;
  }
}

@media (max-width: 991.98px) {
  article.tracks .event-links a {
    font-size: inherit;
    margin: 0.5rem 0;
  }
}

article.tracks .event-links img {
  width: 1.5em;
  vertical-align: top;
}

article.schedule {
  text-align: center;
  background: url("../assets/Page5.svg") no-repeat;
  background-position: bottom;
  background-size: cover;
  overflow-x: hidden;
  /* Remove current tab background */
  /* Remove bootstrap styling */
}

article.schedule a.active, article.schedule a.active:hover, article.schedule a.active:focus {
  background: transparent !important;
}

article.schedule ul.nav-tabs {
  border: 0px solid;
  margin-top: 7rem;
  margin-bottom: 5rem;
  background-color: rgba(239, 239, 239, 0.9);
  padding-bottom: 1.25rem;
  margin-left: 8rem;
  margin-right: 8rem;
  border-radius: 1.5rem;
  /* Style for currently active tab */
}

@media (max-width: 767.98px) {
  article.schedule ul.nav-tabs {
    margin-left: 2.75rem;
    margin-right: 2.75rem;
  }
}

article.schedule ul.nav-tabs li.nav-item {
  margin: 0;
  /* Get rid of spacing between buttom borders */
  border-bottom: 5px solid white;
  padding-top: 1.25rem;
  width: 32%;
}

article.schedule ul.nav-tabs li.nav-item a:hover {
  -webkit-filter: none;
  filter: none;
  /* Remove link hover styling */
}

article.schedule ul.nav-tabs li.current {
  border-color: #FF6F3F;
}

article.schedule ul.nav-tabs li.current a h4 {
  font-family: AvenirBold;
  font-weight: bold;
}

@media (max-width: 1210px) {
  article.schedule ul.nav-tabs li.current .date {
    color: #FF6F3F;
  }
}

article.schedule .tab {
  text-align: center;
  font-family: Avenir;
}

article.schedule .tab .xsm-screen {
  display: none;
}

@media (max-width: 1210px) {
  article.schedule .tab .lg-screen span {
    display: block;
  }

  article.schedule .tab .lg-screen .spacer {
    visibility: hidden;
  }

  article.schedule .tab .lg-screen .date {
    font-size: 1.75rem;
    margin-left: -1.5rem;
    padding: 0;
    margin: 0;
    margin-top: -2.5rem;
  }
}

@media (max-width: 397.98px) {
  article.schedule .tab .lg-screen {
    display: none;
  }

  article.schedule .tab .xsm-screen {
    display: block;
  }
}

article.schedule p {
  text-align: left;
  margin-bottom: 0rem;
  color: black;
}

article.schedule h4 {
  text-align: left;
  font-family: AvenirBold;
}

article.schedule .external-link {
  text-align: right;
  height: 100%;
  padding-top: 3.25rem;
  font-size: 2rem;
}

@media (max-width: 767.98px) {
  article.schedule .external-link {
    text-align: left;
    padding-top: 0rem;
  }
}

article.schedule input {
  display: none;
}

article.schedule h2 {
  text-align: center;
}

article.schedule button.schedule-btn {
  outline: none;
  border: none;
  padding-bottom: 0.25rem;
  width: 23rem;
  font-weight: bold;
}

@media (max-width: 509px) {
  article.schedule button.schedule-btn {
    font-size: 3rem;
    width: 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 463px) {
  article.schedule button.schedule-btn {
    font-size: 2.75rem;
    width: 18rem;
  }
}

@media (max-width: 420px) {
  article.schedule button.schedule-btn {
    font-size: 2.5rem;
    width: 16rem;
  }
}

@media (max-width: 398px) {
  article.schedule button.schedule-btn {
    font-size: 1.75rem;
    width: 12rem;
  }
}

article.schedule button.schedule-btn:hover {
  background-color: rgba(244, 244, 244, 0.9);
}

article.schedule button.schedule-btn.active-btn {
  background-color: #FF6F3F;
  color: white;
}

article.schedule button.schedule-btn.active-btn:hover {
  background-color: #ff8259;
}

article.schedule button.schedule-btn:nth-of-type(1) {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  margin-right: -0.25rem;
}

article.schedule button.schedule-btn:nth-of-type(2) {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  margin-left: -0.25rem;
}

article.schedule #myTabContent {
  overflow-y: scroll;
  overflow-x: hidden;
  border: 4px solid rgba(255, 255, 255, 0.4);
  border-left: none;
  border-right: none;
  position: relative;
}

article.schedule #myTabContent::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

article.schedule #myTabContent::-webkit-scrollbar-thumb {
  background-color: rgba(250, 112, 65, 0.8);
  border-radius: 5px;
}

article.schedule .tab-content {
  height: 500px;
}

article.schedule .footer {
  text-align: center;
  margin-top: 2.5rem;
  font-family: Avenir;
}

article.schedule .container .opaque-card, article.schedule .container .event {
  padding: 3rem;
}

@media (max-width: 575.98px) {
  article.schedule .container h4 {
    font-size: 2.2rem;
  }
}

@media (max-width:767.98px) {
  .col-md-2 {
    margin-left: 42.2%;
  }

  .col-md-9 .ui.header.inverted {
    text-align: center;
  }

  div.row.sponsers div.description {
    border-bottom: solid #f05895 4px;
  }

  div.row.events div.description {
    border-bottom: solid #58f07b 4px;
  }

  div.row.food div.description {
    border-bottom: solid #f0a958 4px;
  }

  div.row.community div.description {
    border-bottom: solid #2baaff 4px;
  }

  div.row.hacks div.description {
    border-bottom: solid #ecf058 4px;
  }

  div.row.prizes div.description {
    border-bottom: solid #b558f0 4px;
  }
}

@media (min-width:767.98px) {
  div.row.sponsers div.description {
    border-right: solid #f05895 4px;
  }

  div.row.events div.description {
    border-right: solid #58f07b 4px;
  }

  div.row.food div.description {
    border-right: solid #f0a958 4px;
  }

  div.row.community div.description {
    border-right: solid #2baaff 4px;
  }

  div.row.hacks div.description {
    border-right: solid #ecf058 4px;
  }

  div.row.prizes div.description {
    border-right: solid #b558f0 4px;
  }
}

article.faq h5 {
  font-family: 'Exo', Avenir, Georgia, sans-serif;
  border-bottom: 2px solid #5ecae7;
  font-weight: bold;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

article.faq .collapsible {
  border: none;
  padding-left: 0;
  width: 100%;
  text-align: left;
  background-color: transparent;
}

.active, .collapsible:hover {}

article.faq p {
  font-size: 1.5rem;
  margin-top: 2rem;
  color: white;
  display: block;
  overflow: hidden;
}

article.faq img {
  width: 4%;
  margin-top: 1%;
  float: right;
}

article.faq .faq-card {
  margin-top: 4rem;
  position: relative;
}

/*article.faq .faq-card:before, article.faq .faq-card:after {
    content: '';
    display: block;
    position: absolute;
    background: black;
    -webkit-transition: -webkit-transform 100ms ease-in-out;
    transition: -webkit-transform 100ms ease-in-out;
    transition: transform 100ms ease-in-out;
    transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out; }*/
article.faq .faq-card.open p {
  display: block;
}

article.sponsors {
  text-align: center;
  background-color: black !important;
  background-position: bottom;
  background-size: cover;
  overflow-x: hidden;
  /* height:1100px; */
  /* image styling for sponsor logos */
}

article.sponsors div.text-center {}

article.sponsors div.text-center div.ui {
  color: #ffff8d;
}

article.sponsors div.pitch {
  margin-top: 4rem;
}

article.sponsors div.pitch h3 {
  color: black;
}

article.sponsors div.logo {
  padding: 3.5rem 2rem;
}

article.sponsors div.logo a {
  display: block;
  height: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

article.sponsors div.logo a:hover {
  -webkit-filter: none;
  filter: none;
}

article.sponsors div.logo img {
  max-height: 100%;
  max-width: 100%;
}

article.sponsors div.cohost a {
  display: block;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article.sponsors div.cohost a:hover {
  -webkit-filter: none;
  filter: none;
}

article.sponsors div.cohost a#NSA {
  padding-right: 3rem;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
}

@media (max-width: 575.98px) {
  article.sponsors div.cohost a#NSA {
    padding-right: 0;
  }
}

@media (max-width: 577px) {
  article.sponsors div.cohost a#NSA {
    margin-bottom: 3rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

article.sponsors div.cohost a#LTS {
  padding-left: 3rem;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
}

@media (max-width: 575.98px) {
  article.sponsors div.cohost a#LTS {
    padding-left: 0;
  }
}

@media (max-width: 577px) {
  article.sponsors div.cohost a#LTS {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

article.sponsors div.cohost a img {
  height: 100%;
}

article.sponsors .sponsors-img {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article.footer {
  color: black;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

article.footer a {
  opacity: 0.6;
}

article.footer a:hover {
  filter: none;
  opacity: 1;
}

article.footer .img-bg {
  z-index: 1;
}

article.footer .contact-card {
  pointer-events: all;
  position: relative;
  z-index: 2;
  min-width: 400px;
  max-width: 400px;
  width: 30%;
  font-size: 1.5rem;
  padding: 1rem;
  color: #5ecae7;
}

@media (max-width: 767.98px) {
  article.footer .contact-card {
    left: 0;
    min-width: 250px;
  }
}

article.footer .contact-card .email {
  display: block;
  font-family: Aleo, Times, serif;
  font-size: 150%;
  font-weight: bold;
  margin: 1.75rem 0;
}

article.footer p {
  margin: 0;
}

@media (max-width: 767.98px) {
  article.footer p {
    text-align: center;
  }
}

article.footer .social-icons a {
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
  margin-left: 1rem;
}

article.footer .social-icons a:first-child {
  margin-left: 0;
}

article.footer .social-icons a .icon {
  font-size: 3.5rem;
  width: auto;
}

@media (max-width: 767.98px) {
  article.footer .social-icons a .icon {
    font-size: 3rem;
  }
}

@media (max-width: 767.98px) {
  article.footer {
    color: #5ecae7 !important;
    position: relative;
    padding: 10rem 0rem;
    font-size: 2rem
  }
}

article.footer .copyright {
  margin-top: 2rem;
}

@media(max-width: 500px) .short-page {
  margin-top: 75px;
}

.short-page {
  margin-top: 10%;
  margin-bottom: 10%;
}

.about-page {
  align-items: baseline;
}

.centered-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui.inverted.segment {
  background: #3F9EFC;
  color: rgba(255, 255, 255, 0.9);
  border: none;
  box-shadow: none;
}

@media(max-width: 500px) .section-pane {
  padding: 25px;
}

#why-box {
  background-color: #546e7a;
  padding: 50px;
  width: 800px;
}

.ui.header.inverted.large {
  padding-bottom: 30px;
}

.header {
  color: #5ecae7
}

.header.inverted {
  color: aliceblue
}

.ui.centered.header {
  text-align: center
}

.ui.large.header {
  font-size: 4em;
}

.ui.header {
  border: none;
  font-family: "Exo";
  font-weight: bold;
  line-height: 1.28em;
  text-transform: none;
  font-size: 2em;
}

.ui.grid {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  padding: 0em;
}

@media only screen and (max-width: 767px) .ui.stackable.grid>.row>.wide.column, .ui.stackable.grid>.wide.column, .ui.stackable.grid>.column.grid>.column, .ui.stackable.grid>.column.row>.column, .ui.stackable.grid>.row>.column, .ui.stackable.grid>.column:not(.row), .ui.grid>.stackable.stackable.row>.column {
  width: 100% !important;
  margin: 0em 0em !important;
  box-shadow: none !important;
  padding: 1rem 1rem !important;
}

article.faq {
  text-align: center;
  background: url("../assets/Page4.svg") no-repeat;
  background-position: bottom;
  background-size: contain;
  overflow-x: hidden;
  height: 1200px;
  width: 100%;
  background-color:#3c3c3c;
}

#contact {
  /* padding: 25rem 25rem 40rem 10rem; */
  padding: 40rem 0rem;
  /* background: url(../assets/Page7.svg) no-repeat;
  background-position: bottom;
  background-size: contain; */
  overflow-x: hidden;
  background-color: #161616;
}

#svg1{
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: 'Exo', sans-serif;
}

.faq-card-bg {
  background-color: aliceblue;
}
